<div id="modal" class="hide">
  <div class="content">
    <div class="header">
      <h1>Pontos de coleta</h1>
      <button>Fechar</button>
    </div>

    <form action="/search">
      <label for="search">Cidade</label>
      <div class="search field">
        <input 
        type="text" 
        name="search"
        placeholder="Pesquise por cidade" />

        <button>
          <img src="/assets/search.svg" alt="buscar">
        </button>

      </div>
    </form>
    <a href="/search?search=all">Ver todos os pontos</a>

  </div>
</div>