@media (min-width: 1700px) {
  #page-home {
    background-position: 40vw;
  }
}

@media (max-width: 900px) {
  #page-home { background-position: 70vw; }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;

    bottom: 48px;
    left: 50%;
    transform: translateX(-50%); /* Alinhar com absolute */

    text-align: center;
  }

  #page-home main {
    align-items: center;
    flex: 0;
    margin-top: 40px;
  }

  #page-home main a { margin-top: 40px; }

  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results .cards img {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 760px) {
  #page-home {
    background-position-y: 200px;
    height: auto;
  }

  #modal .content {
    width: auto;  

    margin-bottom: 48px;
  }

  #page-create-point form {
    padding: 30px;
    margin: 30px 0 auto;
  }

  #page-create-point h1, 
  #page-create-point legend
   { text-align: center; }

  #page-create-point form .field-group {
    flex-direction: column;
  }

  #page-create-point form .field {
    margin: 0 0 30px;
  }

}

